<?xml version="1.0"?>
<launch>
  <arg name="uri0" default="radio://0/80/2M/E7E7E7E702" />
  <arg name="frame0" default="crazyflie2" />
  <arg name="uri1" default="radio://0/80/2M/E7E7E7E703" />
  <arg name="frame1" default="crazyflie3" />
  <arg name="ip" default="172.16.1.1" />
  <arg name="port" default="3883" />
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch"></include>
  <group ns="$(arg frame0)">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri0)" />
      <param name="tf_prefix" value="$(arg frame0)" />
      <param name="enable_logging" value="False" />
      <param name="enable_logging_imu" value="False" />
      <param name="enable_logging_temperature" value="False" />
      <param name="enable_logging_magnetic_field" value="False" />
      <param name="enable_logging_pressure" value="False" />
      <param name="enable_logging_battery" value="False" />
      <param name="enable_logging_packets" value="False" />
      <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [100]
        genericLogTopic_log1_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"]
      </rosparam>
    </node>
    <node name="pose" pkg="crazyflie_demo" type="crazygame_publish_position.py" args="$(arg frame0)" output="screen"> 
      <param name="topic" value="/$(arg frame0)/vrpn_client_node/$(arg frame0)/pose" />
    </node>
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg ip)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: /world
      child_frame_id: $(arg frame0)
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
    </node>
  </group>
  <group ns="$(arg frame1)">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri1)" />
      <param name="tf_prefix" value="$(arg frame1)" />
      <param name="enable_logging" value="False" />
      <param name="enable_logging_imu" value="False" />
      <param name="enable_logging_temperature" value="False" />
      <param name="enable_logging_magnetic_field" value="False" />
      <param name="enable_logging_pressure" value="False" />
      <param name="enable_logging_battery" value="False" />
      <param name="enable_logging_packets" value="False" />
      <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [100]
        genericLogTopic_log1_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"]
      </rosparam>
    </node>
    <node name="pose" pkg="crazyflie_demo" type="crazygame_publish_position.py" args="$(arg frame1)" output="screen"> 
      <param name="topic" value="/$(arg frame1)/vrpn_client_node/$(arg frame1)/pose" />
    </node>
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg ip)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: /world
      child_frame_id: $(arg frame1)
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
      trackers:
      - $(arg frame0)
      - $(arg frame1)
    </rosparam>
    </node>
  </group>
</launch>
